@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  font-family: "VT323", serif;
}
.tooltip {
  font-family: "VT323", serif;
  font-size: 1.1rem;
}
.container {
  max-width: 600px;
  padding: 2rem;
}
h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-size: 2.6rem;
}
.form-label {
  font-weight: 500;
  color: #ffffff;
}
.form-control {
  border-radius: 5px;
}
.btn-dark {
  background-color: #343a40;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.btn-dark:hover {
  background-color: #23272b;
}

label {
  font-size: 1.4rem;
}
.bg-blur {
  background: transparent;
  backdrop-filter: blur(10px);
}
.info-icon {
  font-size: 0.8em; /* Adjust size as needed */
  margin-left: 0.2em; /* Add some spacing */
  vertical-align: middle; /* Align with text */
}
